@import "reset.scss";
@import "variable.scss";

body {
    .header {
        font-family: $font_02;
        box-shadow: 0 0 1px 0 #000;
        height: 100vh;
        background: url("../img/1.png") no-repeat center top / cover;
        .container {
            width: 1190px;
            margin: 0 auto;
        }
        .header_nav {
            margin-right: 100px;
            padding: 25px 0;
            height: 100px;
            .logo {
                font-family: $font_01;
                color: $color_1;
                font-size: 48px;
                font-weight: 900;
                text-transform: uppercase;
                .header_logo {
                    margin-left: -10px;
                    font-weight: 300;
                    text-transform: lowercase;
                }
            }
        }
        .nav {
            margin-top: 42px;
            .header_li {
                margin-left: 35px;
                .header_a {
                    font-size: 16px;
                    color: $color_1;
                }
            }
        }   
        .rrr {
            margin-top: 42px;
            .reg {
                .img {
                    margin-right: 40px;
                }
                .log {
                    color: $color_1;
                }
            }
        }
        .header_img {
            .img_main {
                margin-top: 30px;
                width: 775px;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .title {
                margin-top: 50px;
                font-size: 60px;
                color: $color_1;
                text-align: center;
            }
            .sub_title {
                margin-top: 30px;
                font-size: 24px;
                color: $color_1;
                text-align: center;
            }
            .button {
                margin-top: 30px;
                padding: 20px;
                border-radius: 50px;
                border-bottom: 2px solid #000;
                left: 50%;
                transform: translate(-50%, 0);
                .button_text {
                    color: $color_1;
                    font-size: 16px;
                }
            }
        }
        .shadow {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.75);
        }
    }
}